@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-family: "Jersey 15", serif; */
/* font-family: "Work Sans", serif; */

#page-1{
    width: 100%;
    height: 100%;
    color: black;
    font-family: "Work Sans", serif;
}


/* Shared styles */
.display-flex{
    display: flex;
}

.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}

.btn-primary button{
    padding: 12px 14px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: 600;
    cursor: pointer;
}

/* Header Styles */
header{
    background-color: #FFF4E7;
    width: 100%;
    min-height: 70vh;
    font-family: "Work Sans", serif;
}


/* Navbar related styles */

.nav-item{
    list-style: none;

}

.nav-link{
    text-decoration: none;
}

.nav-links{
    gap: 3vw;
    align-items: center;
}

.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 15px;
}

.brand{
    font-family: "Jersey 15", serif;
    font-size: 2.3rem;
    cursor: pointer;
}

/* Styling Banner */

.banner{
    max-width: 80%;
    margin: 0 auto;
}

.banner-img{
    width: 100%;
    margin-bottom: 20px;
}

.banner-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 20px;

}

.banner-title{
    font-size: 2.5rem;
}

.banner-description{
    font-size: 0.75rem;
}


/* Working on page - 2 */

/* Team and feature related styles */

#page-2{
    width: 100%;
    margin: 0 auto;
    min-height: 50vh;
    font-family: "Work Sans", serif;

}

.team{
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 30px;
    gap: 3.4vw;

}

.team-img-container img{
    width: 100%;
}

.team-img-container{
    /* display: grid; */
    width: 37%;
}

.our-features{
    width: 31%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.feature-title{
    font-size: 1.75rem;
}

.feature-title span:nth-child(1){
  font-weight: 500;
}
#feature-child{
  color: #FF900E;
}

.feature-description{
    font-size: 0.75rem;
}




/* Working on page - 3 */

#page-3{
    min-height: 55vh;
    width: 100%;
    font-family: "Work Sans", serif;
    margin-bottom: 20px;
    margin-top: 60px;
}


.some-facts{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

}


/* Fact related styles */

.fact-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
    place-items: center;
    /* margin: 0 auto; */
}

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.fact-card img{
    width: 40px;
}

.fact-number{
    font-size: 2rem;
}
.fact-name{
    font-weight: 600;
    font-size: 0.85rem;
}

.facts-title{
    font-size: 2rem;
}

.facts-description{
    font-size: 0.75rem;
    width: 42%;
}



/* Working on page - 4 */


#page-4{
    min-height: 38vh;
    width: 100%;
    font-family: "Work Sans", serif;
    margin-top: 60px;
}


/* Sponsor related styles */

.sponsor-info{
    width: 45%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.our-sponsors{
    width: 80%;
    margin: 0 auto;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.sponsor-companies img{
    filter: grayscale(100%);

    width: 60%;
}

.sponsor-title{
    font-size: 2rem;
    margin-bottom: 15px;
}

.sponsor-description{
    font-size: 0.75rem;
}


/* Working on footer */

footer{
    width: 100%;
    min-height: 20vh;
    font-family: "Work Sans", serif;
    margin-bottom: 20px;
}

.footer-section{
    background-color: #FFF4E7;
    height: 60px;
    font-size: 0.85rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    padding: 0 10px;
}




















/* Responsiveness with Media Querry */

/* little Device */


@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
        gap: 2vw;
        max-width: 90%;
    }
    
    .brand{
        text-align: center;
    
    }
    
    .banner{
        max-width: 90%;
    }

    header{
        min-height: 40vh;
    }

    .team{
        flex-direction: column;
        gap: 5vw;
    }

    .team-img-container{
        width: 90%;
    }

    .our-features{
        width: 90%;
    }


    #page-2{
        min-height: 40vh;
    }


    .some-facts{
        width: 90%;
    }

    .facts-description{
        width: 100%;
    }
    .fact-cards{
        margin-top: 30px;
    }

    .fact-cards{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15px;
    }

    .fact-card{
        width: 150px;
        height: 150px;
    }

    .fact-card img{
        width: 37px;
    }
    
    .fact-number{
        font-size: 1.9rem;
    }
    .fact-name{
        font-weight: 600;
        font-size: 0.80rem;
    }

    #page-3{
        min-height: 48vh;
    }



    .our-sponsors{
        width: 90%;
    }

    .sponsor-info{
        width: 100%;
    }


    .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;

    }


    #page-4{
        min-height: 30vh;
    }


    footer{
        min-height: 10vh;
    }
        
    }



    /* Medium Device */

    @media screen and (min-width:576px) and (max-width:992px) {
        header{
            min-height: 50vh;
        }
        #page-2{
            min-height: 40vh;
        }
        .fact-card{
            width: 170px;
            height: 170px;
        }
        .fact-cards{
            margin-top: 20px;
        }
        
    }

